/** @format */

:root {
	--branding-color:#6c63ff;
	--primary-color: #f9f7fe;
	--secondory-color: #272142;
	--heading-font: "Playfair Display", serif;
	--default-font: "Poppins", sans-serif;
}
body {
	font-family: var(--default-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	font-weight: bold;
	color: #000000;
}
h1 {
	font-family: var(--heading-font);
	font-weight: bold;
	font-weight: bold;
	font-size: 96px;
	line-height: 128px;
	color: #000000;
}
h2 {
	font-size: 64px;
	line-height: 1.5;
	font-weight: 400;
}
h4{
	font-size: 48px;
}
p {
	font-size: 16px;
	line-height: 30px;
}
nav li{
	list-style: none;
	display: inline;
	padding-left: 15px;
}
nav ul{
	padding:10px 0;
	margin:0;
	line-height: 1.5;
}
nav a {
	text-decoration: none;
	font-weight: 500;
	color: #272142;
	transition: all 100ms ease-in-out;
}
nav a:hover,a.active{
	color: var(--branding-color);
}

nav{
	padding: 20px 0;
}
footer .contact-box{
	background: var(--primary-color);
	padding: 30px 120px;
	border-radius: 20px;
}
footer .contact-box p{
	margin: 0;
}
footer .email-link{
	text-decoration: none;
	color:#000000 ;
	font-size: 24px;
	line-height: 36px;
}
footer .email-link:hover{
	color: var(--branding-color);
}
footer .social-links a {
	padding:10px 14px;
	margin:0 20px;
	background: var(--primary-color);
	font-size: 20px;
	color:var(--branding-color);
	border-radius: 50%;
}
footer .social-links a:hover{
	background: var(--branding-color);
	color: white;
	transition: all 100ms ease-in-out;
}
.logo{
	max-height: 42px;
}
.hero {
	text-align: center;
	padding: 80px 20px;
	background-color: var(--primary-color);
}
.hero h2 {
	font-family: var(--default-font);
	font-size: 24px;
	line-height: 36px;
	color: var(--secondary-color);
}
.hero p {
	font-family: var(--default-font);
	font-size: 36px;
	font-weight: bold;
	line-height: 30px;
	color: var(--secondary-color);
}
.content-container{
	padding: 60px 20px;
}
.content h1{
	font-size: 64px;
	line-height: 85px;
}
.content h2{
	font-family: var(--default-font);
	font-size: 18px;
	line-height: 27px;
}
.content h3{
	line-height: 1.5;
	font-weight: 700;
	font-size: 24px;
	font-family: var(--default-font);
}
.content p{
	font-size:14px;

}
.content{
	padding: 1px 60px;
}
.btn-branding {
	font-family: var(--default-font);
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
	background-color:var(--branding-color);
	border-radius: 4px;
	padding: 18px 30px;
}
.btn-branding-outline {
	border: 1px solid var(--branding-color);
	border-radius: 4px;
	padding: 18px 30px;
	font-family: var(--default-font);
	font-size: 18px;
	line-height: 27px;
	color:var(--branding-color);
}
.project-description{
	padding: 120px 60px;
}
@media(max-width:900px){


	h1{
		font-size: 44px;
		line-height: 1.5;
	}
	h2{
		font-size: 44px;
	}

	.project-description{
		padding: 0;
		text-align: center;
	}
	.content-container{
		padding: 40px 20px;
	}
	.content{
		padding: 0;
		text-align: center;
	}
}